body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: block;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
}

.container {
    justify-self: center;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: calc(33.33% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
}

button:hover {
    background-color: #45a049;
}

#dataDisplay {
    margin-top: 20px;
}

.dataItem {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.dataLabel {
    font-weight: bold;
}
